Library/PackageCache/*
Library/Bee/1900b0aE.dag.json
Library/Bee/bee_backend.info
Library/Bee/fullprofile.json
Library/EditorSnapSettings.asset
Library/GridBrush/UnityEditor.Tilemaps.GridBrush.asset
Library/LastSceneManagerSetup.txt
Library/LibraryFormatVersion.txt
Library/PackageManager/ProjectCache
Library/Bee/artifacts/1900b0aE.dag/*
Library\Bee\artifacts\1900b0aE.dag\*