Library/PackageCache/*
Library/Bee/1900b0aE.dag.json
Library/Bee/bee_backend.info
Library/Bee/fullprofile.json
Library/EditorSnapSettings.asset
Library/GridBrush/UnityEditor.Tilemaps.GridBrush.asset
Library/LastSceneManagerSetup.txt
Library/LibraryFormatVersion.txt
Library/PackageManager/ProjectCache
Library/Bee/artifacts/1900b0aE.dag/*.txt
Library/ArtifactDB
##
Library/Artifacts/9f/9f2a1d63665d4ed5503161c696732159
Library/Bee/artifacts/mvdfrm/Unity.Analytics.Editor.dll_28C50A197727A7D9.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Analytics.StandardEvents.dll_F8DF38BED7F89F75.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Analytics.Tracker.dll_E5AF9D7CD80DD5C8.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Burst.Cecil.dll_A2ACFF67794FD6B4.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Burst.Cecil.Mdb.dll_46A6CDCD66FD26F1.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Burst.Cecil.Pdb.dll_5DF9463CE5B22874.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Burst.Cecil.Rocks.dll_69CE35AC8B78FF14.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Burst.Unsafe.dll_3806AA01EDC3E79F.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Plastic.Antlr3.Runtime.dll_992F30A61A7B7A49.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Plastic.Newtonsoft.Json.dll_1EE6DDCA95E385DC.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.Antlr3.Runtime.dll_C4D8460703F6F8E5.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.IonicZip.dll_2143074E7493A096.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.TextureAssets.dll_AA89487993FB46BE.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.YamlDotNet.dll_136B1F25D32DE8C6.mvfrm
Library/BurstCache/JIT/48d85afc3eca8831db5077b720cc3fa4.dll
Library/BurstCache/JIT/48d85afc3eca8831db5077b720cc3fa4.pdb
Library/BurstCache/JIT/f5079076ca8e5893f7112c27ad0d4cf0.dll
Library/BurstCache/JIT/f5079076ca8e5893f7112c27ad0d4cf0.pdb
